body{
    margin: 0;
    font-family: url(fonts/DarkerGrotesque-Regular.ttf);
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.lobao h1{font-size: 5rem;}

.lobao p{
    font-size: 2rem;
    max-width: 60vw;

}

h2{
    color: #DEB959;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding-top: 4vh;
}

header{
    background-color: #85CDF5;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 14vh;
    margin: 0;
}
header>img{height: 12vh}
.lobao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-image: url("imagens/lobao.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height:65vh;
    color: white;

}
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    background-color: #2C567F;
}
.sobre>p{
    width: 70vw;
    color: white;
    padding-bottom: 4vh;
}

.valores{
    background-color: #333333;
}
.valores2{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.valores2>figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    text-align: center;
    color: white;
}
.valores2>figure>img{
    background-color: white;
    border-radius: 50%;
    height: 10vh;
    border: 0.8rem solid white;
    }
.valores2>figure>h3{padding-top: 1vh;}

.loboExemplos{
    display: flex;
    flex-direction: column;
    padding-bottom: 20vh;
}
.exemplo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.exemploimg{

    background-color: #2C567F;
    border: 5px solid #333333;
    
}
.exemplotxt{
    height: auto;
    width: 30vw;
    padding-left: 4rem;
    padding-right: 4rem;
}
#exem1{
    position: relative;
    top: 20px;
    left: 20px;
    height: 35vh;
    width: 35vh;
}
#exem2{
    position: relative;
    top: 20px;
    right: 20px;
    height: 35vh;
    width: 35vh;
}
#txt2{text-align: right;}

footer{
    background-color: #333333;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    border:10px thin linear-gradient(to left, #743ad5, #d53a9d);
}
.contato{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contato1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.informacoes{
    display: flex;
    flex-direction: column;
}
.pequeno{
    height: 1rem; 
    padding-right: 1rem;
}
.textoContato{max-width: 25fvw;}

@media screen and (max-width: 960px){
    .valores2{
        margin: 20px auto;
        display:grid;
        grid-template-columns: 50% 50%;
        /* grid-column-gap: 10px;
        grid-row-gap: 10px; */
        justify-content:center;
        justify-items: center;
        
        /* Eu ainda nao entendi grid direito. Eu sei ue ta 
        bem torto o paragrafo mas ainda nao consegui arrumar, infelizmente
        essa parte vai ter que ficar meio torta por horas para
        eu poder focar no trabalho de manipulação da dom :^( */
    }
    .exemplo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .exemplotxt{
            height: auto;
            width: auto;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    footer{
        display: flex;
        flex-direction: column;
    }
    /* .contato{
        display: flex;
        flex-direction: column;
    } */
